:root{
    /*colors*/
    --corprimaria: hsl(322, 100%, 66%);
    --palecyan: hsl(193, 100%, 96%);
    --darkcyan: hsl(192, 100%, 9%);
    --blue: hsl(208, 11%, 55%);

    /*fonts*/
    --headings: 'Poppins', sans-serif;
    --main: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 80px;
}

.header-img {
    width: 200px;
    height: 32px;
}

.header-button {
    width: 200px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--main);
    font-size: 14px;
    font-weight: 600;
    color: var(--darkcyan);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.103);
}

.header-button:hover {
    color: var(--blue);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 168px 82px 65px 82px;
    margin-top: -146px;
    background-color: var(--palecyan);
    background-image: url(/images/bg-hero-desktop.svg);
    max-height: 487px;
}

.hero-content {
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--main);
    font-size: 18px;
    font-weight: 400;
    color: var(--darkcyan);
}

.hero-heading {
    font-family: var(--headings);
    font-size: 32px;
    margin: 5px 0px;
}

.hero-p {
    margin: 20px 0;
    max-width: 510px;
}

.hero-button {
    width: 280px;
    height: 56px;
    margin: 10px 0px;
    background-color: var(--corprimaria);
    border: none;
    border-radius: 50px;
    font-family: var(--main);
    font-size: 14px;
    font-weight: 400;
    color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.185);
}

.hero-button:hover {
    background-color: hsl(322, 100%, 80%);
}

.hero-img {
    justify-self: end;
    width: 100%;
    max-width: 700px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 340px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 440px;
    margin: 20px 80px;
    border-radius: 18px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.103);
    font-family: var(--main);
    font-weight: 400;
    font-size: 18px; 
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px;
    max-width: 480px;
    color: var(--blue);
}

.cards-headings {
    font-family: var(--headings);
    color: var(--darkcyan);
    padding-bottom: 18px;
}

.cards-img {
    width: 420px;
    height: 340px;
    padding: 35px;
}

.flow {
    flex-direction: row-reverse;
}

.flow-content {
    padding: 35px;
}

.flow-img {
    padding: 120px;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    width: 800px;
    height: 280px;
    border-radius: 18px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.103);
    margin: auto;
    z-index: 2;
    position: absolute;
    background-color: white;
    margin-top: -185px;

}

.call-heading {
    font-family: var(--headings);
    font-size: 32px;
    padding-bottom: 10px;
}

.call-button {
    width: 400px;
    height: 80px;
    margin: 10px 0px;
    background-color: var(--corprimaria);
    border: none;
    border-radius: 38px;
    font-family: var(--main);
    font-size: 18px;
    font-weight: 400;
    color: white;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.185);
}

.call-button:hover {
    background-color: hsl(322, 100%, 80%);
}

footer {
    background-color: var(--darkcyan);
    color: var(--palecyan);
    font-family: var(--main);
    font-size: 13px;
    height: 560px;
   
}